<% message = @message;summary = @summary%><% if !@status.success? %><span class="subtitle text-danger"><b><% if summary %><% HTML.escape(summary, io) %><% else %>Fehler<% end %></b></span><pre><code><% if message %><% HTML.escape(message, io) %><% else %>Keine Beschreibung verfügbar<% end %></code></pre><% else %><div class="container"><div class="subtitle text-success"><b>Dieser Test war erfolgreich 🎉</b></div></div><% end %>