<% if (exception_message = @exception_message) && (exception_type = @exception_type) %>
  <div class="subtitle text-danger">
    <b>Fehler <% HTML.escape(exception_type, io) %></b>
  </div>
  <pre><code><% HTML.escape(exception_message, io) %></code></pre>
<% else %>
  <div class="container">
    <div class="subtitle text-success">
      <b>Dieser Test war erfolgreich 🎉</b>
    </div>
  </div>
<% end %>
