<% if (message = @message) && (summary = @summary) %><div class="subtitle text-danger"><b><% HTML.escape(summary, io) %></b></div><pre><code><% HTML.escape(message, io) %></code></pre><% else %><div class="container"><div class="subtitle text-success"><b>Dieser Test war erfolgreich 🎉</b></div></div><% end %>